    <footer class="container text-center">
        <p><small>&copy; folch<sup>2</sup>iot 2017-2018</small></p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{#<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>#}
{#<script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js'></script>    #}


    <script src="http://code.jquery.com/jquery-1.12.2.min.js"   integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js'></script>
{#    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>#}

{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>#}

<!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){
        $(".content-markdown").each(function(){
                let content = $(this).text();
                let markedContent = marked(content);
                $(this).html(markedContent)
        });
        $(".post-detail-item img").each(function(){
                $(this).addClass("img-responsive");
        });


        let contentInput = $("#id_content");

        function setContent(value){
            let markedContent = marked(value);
            $("#preview-content").html(markedContent);
            $("#preview-content img").each(function(){
                $(this).addClass("img-responsive")
            })
        }
        setContent(contentInput.val());

        contentInput.keyup(function(){
            let newContent = $(this).val();
            setContent(newContent)
        });

        let titleInput = $("#id_title");


        function setTitle(value) {
            $("#preview-title").text(value)
        }
        setTitle(titleInput.val());

        titleInput.keyup(function(){
            let newContent = $(this).val();
            setTitle(newContent)
        });

        $(".comment-reply-btn").click(function(event){
            event.preventDefault();
            $(this).parent().next(".comment-reply").fadeToggle();
        })


        // preview-title
        // preview-content

    })

    </script>
</body>
</html>
