{% extends 'products/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

    <section class="main-article" style="padding-top: 0px;">
        <div class='col-sm-12 col-md-10, col-lg-8' style="padding-top: 0px;">
            <h1>Create Product</h1>
                <form method='POST' action='' enctype='multipart/form-data'>
                    {% csrf_token %}
{#                    {{ form.as_p }}#}
                    {{ form|crispy }}
                    <input type='submit' class='btn btn-default' value='Create Product' />
                </form>
        </div>
    </section>

{% endblock content %}