{% url 'recipes:recipe_list' as recipe_list_url %}
{% url 'iotsensor:list' as iotsensor_list_url %}
{% url 'recipes:create' as recipe_create_url %}
{% url 'fieldwork:create' as fieldwork_create_url %}
{% url 'labsoil:list' as labsoil_list_url %}
{% url 'register' as register_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'posts:list' as posts_url %}
{% url 'assets:list' as asset_list_url %}
{% url 'engine_room:list' as engine_room_list_url %}
{% url 'fuel_station:list' as fuel_station_list_url %}
{% url 'repairs:list' as repair_list_url %}
{% url 'providers:list-of-supplier' as list_of_supplier_url %}
{% url 'products:product_list' as product_list_url %}
{% url 'purchase:list' as purchase_list_url %}
{% url 'purchase:create' as purchase_create_url %}


   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
{#    <nav class="navbar navbar-expand-lg navbar-light bg-light">#}
      <a class="navbar-brand" href="{{ iotsensor_list_url }}">folch<sup><small>2</small></sup>iot</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
{#            <a class="nav-link" href="{% url 'engine_room:create' %}">add engines<span class="sr-only">(current)</span></a>#}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.microbesinmysoil.com">Microbes in my Soil</a>
          </li>
          <li class="nav-item {% if request.path == posts_url %}active{% endif %}">
            <a class="nav-link" href="{{ posts_url }}">Blog/Posts</a>
          </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Field Work</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                {% if request.user.is_authenticated %}
                    <a class="dropdown-item {% if request.path == recipe_list_url %}active{% endif %}" href="{{ recipe_list_url }}">Recipes</a>
                    <a class="dropdown-item {% if request.path == recipe_create_url %}active{% endif %}" href="{{ recipe_create_url }}">Add Recipe</a>
                    <a class="dropdown-item {% if request.path == fieldwork_create_url %}active{% endif %}" href="{{ fieldwork_create_url }}">Add Field Metrics</a>
                    <a class="dropdown-item {% if request.path == labsoil_list_url %}active{% endif %}" href="{{ labsoil_list_url }}">Soil Lab</a>

                {% else  %}
                    <a class="dropdown-item {% if request.path == register_url %}active{% endif %}" href="{{ register_url }}">Register</a>
                    <a class="dropdown-item {% if request.path == login_url %}active{% endif %}" href="{{ login_url }}">Login</a>
                {% endif %}

            </div>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Log Books</a>
            <div class="dropdown-menu" aria-labelledby="dropdown02">
                {% if request.user.is_authenticated %}
                    <a class="dropdown-item {% if request.path == asset_list_url %}active{% endif %}" href="{{ asset_list_url }}">Assets</a>
                    <a class="dropdown-item {% if request.path == engine_room_list_url %}active{% endif %}" href="{{ engine_room_list_url }}">Engines & Tools</a>
                    <a class="dropdown-item" href="{{ fuel_station_list_url }}">Fuel Station</a>
                    <a class="dropdown-item" href="{{ repair_list_url }}">Repair & Invoice</a>
                {% else  %}
                    <a class="dropdown-item {% if request.path == register_url %}active{% endif %}" href="{{ register_url }}">Register</a>
                    <a class="dropdown-item {% if request.path == login_url %}active{% endif %}" href="{{ login_url }}">Login</a>
                {% endif %}
            </div>
          </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Service & Consumables</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                    {% if request.user.is_authenticated %}
                        <a class="dropdown-item {% if request.path == list_of_supplier_url %}active{% endif %}" href="{{ list_of_supplier_url }}">Shops & Services</a>
                        <a class="dropdown-item {% if request.path == product_list_url %}active{% endif %}" href="{{ product_list_url }}">Supply & Consumables</a>
                        <a class="dropdown-item {% if request.path == purchase_list_url %}active{% endif %}" href="{{ purchase_list_url }}">Purchase Orders List</a>
                        <a class="dropdown-item {% if request.path == purchase_create_url %}active{% endif %}" href="{{ purchase_create_url }}">Create Purchase Order</a>

                    {% endif %}
            </div>
          </li>

            <li class="nav-item">
                <a class="nav-link {% if request.path == iotsensor_list_url %}active{% endif %}" href="{{ iotsensor_list_url }}">Sensors & IoT's</a>
            </li>
            <li class="nav-item">
            <a class="nav-link {% if request.path == logout_url %}active{% endif %}" href="{{ logout_url }}">Logout</a>
            </li>

        </ul>
{#        <form class="form-inline my-2 my-lg-0">#}
{#          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
{#          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#        </form>#}

      </div>
    </nav><br/>