{% extends 'assets/assetsbase.html' %}
{% block content %}
{% load static %}

    <div class='col-sm-10 col-md-10 col-lg-12 text-left'>
        <div class="shadow p-3 mb-5 bg-white rounded">
        <h2>{{ title }}</h2>

{#            <button type="button"#}
{#                    onclick="document.getElementById('demo').innerHTML = Date()">#}
{#                Click me to display Date and Time.</button>#}

            <p id="assets"></p>

{#            <form method='GET' action='' class='row'>#}
{#                <div class='col-sm-10'>#}
{#                    <div class='input-group'>#}
{#                        <input class='form-control' type='text' name='q' placeholder='Search Assets' value='{{ request.GET.q }}'/>#}
{#                        <span class='input-group-btn'>#}
{#                            <input class='btn btn-default' type='submit' value='Search' />#}
{#                            <button class='btn btn-default' type='submit'>Search <i class="fa fa-search"></i></button>#}
{#                        </span>#}
{#                    </div>#}
{#                </div>#}
{#            </form>#}

            <hr>

            <div class="container-fluid center-block">
        <div class="col-6 align-center">
            <div class="row center-block">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    {% for object in object_list %}
                        <div class="container">
                            <div class="col text-center">
                                {% include 'assets/snippets/card.html' with instance=object %}
                                <a href="{% url 'assets:create' %}"><h5><small><small>Add</small></small> Asset </h5></a>

                             </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="shadow p-3 mb-5 bg-white rounded">
                    {% for engine in engine_list %}
                        <div class="container">
                            <div class="col text-center">
                                {% include 'assets/snippets/card.html' with obj=engine %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{#            {% for obj in object_list %}#}
{##}
{#                <div class="row">#}
{#                    <div class="col-sm-12">#}
{#                        <div class="thumbnail">#}
{#                            {% if obj.image %}#}
{#                                <img src='{{ obj.image.url }}' class='img-responsive' alt="asset"/>#}
{#                            {% endif %}#}
{##}
{#                            <div class="caption post-detail-item">#}
{##}
{#                                {% if obj.draft %}#}
{#                                    <h3>Staff only: Draft</h3>{% endif %} {% if obj.publish > today %}<h3>Staff Only: Future Post</h3>#}
{#                                {% endif %}#}
{##}
{#                                <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a> <small>{{ obj.publish }}</small></h3>#}
{##}
{#                                {% if obj.user.get_full_name %}#}
{#                                    <p>Author: {{ obj.user.get_full_name }}<br></p>#}
{#                                {% endif %}#}
{#                                <p>odometer: {{ obj.odometer }}</p>#}
{##}
{#                                {{ obj.get_markdown|truncatechars_html:600 }}#}
{##}
{#                                <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">Comment</a></p>#}
{#                                <p><a href="{% url "engine_room:create" %}" class="btn btn-secondary" role="button">add engine</a></p>#}
{#                            </div>#}
{#                            <hr>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#        </div>#}
{#            {% endfor %}#}



    <div class="pagination">
        <span class="step-links">
            {% if object_list.has_previous %}
                <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
            </span>
            {% if object_list.has_next %}
                <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
            {% endif %}
        </span>
    </div>
    <hr/>
    </div>
{% endblock content %}