{% extends 'labsoil/new_base.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'main/main.css' %}" >

    <div class='col-sm-10 col-md-10 col-lg-12 text-left'>
        <div class="shadow p-3 mb-5 bg-white rounded">
        <h2>{{ title }}</h2>

            <button type="button"
                    onclick="document.getElementById('demo').innerHTML = Date()">
                Click me to display Date and Time.</button>

            <p id="labsoil"></p>

            <form method='GET' action='' class='row'>
                <div class='col-sm-10'>
                    <div class='input-group'>
                        <input class='form-control' type='text' name='q' placeholder='Search Assets' value='{{ request.GET.q }}'/>
                        <span class='input-group-btn'>
                            <button class='btn btn-default' type='submit'>Search <i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </form>

            <hr>

            <div class="container-fluid center-block">
                <div class="row">
                {% for object in object_list %}

                    <div class="col">

                            {{ forloop.counter }}
                            {% include 'labsoil/snippets/card.html' with instance=object %}

                            {% if forloop.counter|divisibleby:3 %}</div>
                                <div class="row"><div class="col-6"><hr></div></div>

                            {% else %}
                                </div>
                            {% endif %}


                {% endfor %}
            </div>
            <a href="{% url 'labsoil:create' %}"><h5><small><small>Add</small></small> Lab Review </h5></a>
        </div>
    </div>





    <div class="pagination">
        <span class="step-links">
            {% if object_list.has_previous %}
                <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
            </span>
            {% if object_list.has_next %}
                <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
            {% endif %}
        </span>
    </div>
    <hr/>

{% endblock content %}